* {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 20px;
  color: #e5e7eb;
  font-size: 18px;
}

ul li:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  font-size: 18px;
  color: #f9faf8;
  height: 50px;
}