* {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 20px;
  color: #e5e7eb;
  font-size: 18px;
}

ul li:hover {
  cursor: pointer;
}

main {
  display: flex;
  height: 450px;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.description {
  flex-flow: column wrap;
  flex-grow: 0;
  width: 450px;
  padding: 10px;
}

.title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 18px;
}

.sign-up {
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10%;
}

.placeholder {
  width: 470px;
  height: 200px;
  background-color: gray;;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info span {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.card {
  display: flex;
  flex-flow: column wrap;
  width: 150px;
  flex-grow: 0;
  text-align: center;
  color: #1f2937;
}

.box {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  margin: 10px;
  border-radius: 10%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  font-size: 18px;
  color: #f9faf8;
  height: 50px;
}